<% @title = "FOI officer questions" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="officers"><%= _("FOI officer questions") %> <a href="#officers">#</a> </h1>

<dl>

<dt id="top"><%= _("I just got here from bottom of an FOI request, what is going on?") %> <a href="#top">#</a> </dt>

<dd>
<%= _("I just got here from bottom of an FOI request, what is going on?.text") %>
</dd>

<dt id="responses"><%= _("Why are you publishing responses to FOI requests?") %> <a href="#responses">#</a> </dt>

<dd>
<%= _("Why are you publishing responses to FOI requests?.text") %>
</dd>

<dt id="realpeople"><%= _("Are the people making requests real people?") %> <a href="#realpeople">#</a> </dt>

<dd>
<%= _("Are the people making requests real people?.text") %>
</dd>

<dt id="email_only"><%= _("An email isn't a sufficient address for an FOI request!") %> <a href="#email_only">#</a> </dt>

<dd>
<%= _("An email isn't a sufficient address for an FOI request!.text") %>
</dd>

<dt id="vexatious"><%= _("Aren't you making lots of vexatious requests?") %> <a href="#vexatious">#</a> </dt>

<dd>
<%= _("Aren't you making lots of vexatious requests?.text") %>
</dd>

<dt id="spam_problems"><%= _("I can see a request on DaZnamoSvi, but we never got it by email!") %><a href="#spam_problems">#</a> </dt>

<dd>
<%= _("I can see a request on DaZnamoSvi, but we never got it by email!.text") %>
</dd>

<dt id="days"><%= _("How do you calculate the deadline shown on request pages?") %><a href="#days">#</a> </dt>

<dd>
<%= _("How do you calculate the deadline shown on request pages?") %>
</dd>
<dt id="days2"><%= _("But really, how do you calculate the deadline?") %><a href="#days2">#</a> </dt>

<dd>
<%= _("But really, how do you calculate the deadline?.text") %>

</dd>

<dt id="public_interest_test"><%= _("How can I send a large file, which won't go by email?") %><a href="#public_interest_test">#</a> </dt>

<dd>
<%= _("How can I send a large file, which won't go by email?.text") %>
</dd>

<dt id="names"><%= _("Why do you publish the names of civil servants and the text of emails?") %> <a href="#names">#</a> </dt>

<dd>
<%= _("Why do you publish the names of civil servants and the text of emails?.text") %>
</dd>

<dt id="mobiles"><%= _("Do you publish email addresses or mobile phone numbers?") %> <a href="#mobiles">#</a> </dt>

<dd>
<%= _("Do you publish email addresses or mobile phone numbers?.text") %>
<dd>



</dl>


</dl>

<p><%= _("<strong>If you haven't already</strong>, read the introduction") %> <a href="/help/about">--&gt;</a>

<div id="hash_link_padding"></div>


</div>
