<% @title = "Your privacy" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
<h1 id="privacy"><%= _("Your privacy") %> <a href="#privacy">#</a> </h1>

<dl>

<dt id="email_address"><%= _("Who gets to see my email address?") %> <a href="#email_address">#</a> </dt>

<dd><p><%= _("Who gets to see my email address.text") %></p>
</dd>

<dt id="nasty_spam"><%= _("Will you send nasty, brutish spam to my email address?") %> <a href="#nasty_spam">#</a> </dt>
<dd><%= _("Will you send nasty, brutish spam to my email address.text") %>
</dd>

<dt id="public_request"><%= _("Why will my name and my request appear publicly on the site?") %> <a href="#public_request">#</a> </dt>

<dd>
<p>
<%= _("Why will my name and my request appear publicly on the site.text") %>
</p>
</dd>

<dt id="real_name"><%= _("help.pseudonim.title") %><a href="#real_name">#</a> </dt>


<dd>
<%= _("help.pseudonim.text") %>
</dd>

<dt id="full_address"><%= _("They have asked for my postal address!") %> <a href="#full_address">#</a> </dt>

<dd>
<p>
<%= _("They have asked for my postal address.text") %>
</p>
</dd>

<dt id="postal_answer"><%= _("No no, they need a postal address to send a paper response!") %> <a href="#postal_answer">#</a> </dt>

<dd>
<p><%= _("No no, they need a postal address to send a paper response.text") %></p>
</dd>

<dt id="delete_requests"><%= _("Can you delete my requests, or alter my name?") %>  <a href="#delete_requests">#</a> </dt>

<dd>
<p>
<%= _("Can you delete my requests, or alter my name.text") %>
</p>
</dd>

<dt id="takedown"><%= _("Can you take down personal information about me?") %> <a href="#takedown">#</a> </dt>

<dd>

<p>
<%= _("Can you take down personal information about me.text") %>
</p>

</dd>


</dl>

<p><%= _("<strong>Learn more</strong> from the help for FOI officers") %> <a href="/help/officers">--&gt;</a>

<div id="hash_link_padding"></div>


</div>
