<% @title = "Making requests" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="making_requests"><%= _("Making requests") %> <a href="#making_requests">#</a> </h1>
<dl>

<dt id="which_authority"><%= _("I'm not sure which authority to make my request to, how can I find out?") %> <a href="#which_authority">#</a> </dt>

<dd>
<%= _("I'm not sure which authority to make my request to, how can I find out?.text") %>

</dd>



<dt id="missing_body"><%= _("You're missing the public authority that I want to request from!") %> <a href="#missing_body">#</a> </dt>

<dd>
<%= _("You're missing the public authority that I want to request from!.text") %>

</dd>

<dt id="focused"><%= _("Why must I keep my request focused?") %><a href="#focused">#</a> </dt>

<dd>

 <%= _("Why must I keep my request focused?.text") %>

</dd>

<dt id="fees"><%= _("Does it cost me anything to make a request?") %><a href="#fees">#</a> </dt>

<dd>

<p>
<%= _("Does it cost me anything to make a request.text") %>
</p>
</dd>



<dt id="quickly_response"><%= _("How quickly will I get a response?") %></a> </dt>

<dd>
<p>
<%= _("How quickly will I get a response.text") %>
</p>


</dd>

<dt id="not_satisfied"><%= _("What if I’m not satisfied with the response?") %></a> </dt>

<dd>
<p>
<%= _("If you didn’t get the information you asked for, or you didn’t get it in time, then please visit following section of Commissioner’s official web site ‘Who Can I Complain to?’") %>
</p>


</dd>


<dt id="no_response"><%= _("What if I never get a response?") %><a href="#no_response">#</a> </dt>

<dd>
<p>
<%= _("What if I never get a response.text") %>
</p>
</dd>

<dt id="ico_help"><%= _("Can you tell me more of the nitty gritty about the process of making requests?") %> <a href="#ico_help">#</a> </dt>

<dd>
<%= _("Can you tell me more of the nitty gritty about the process of making requests?.text") %> 
</dd>

<dt id="data_protection"><%= _("Can I request information about myself?") %> <a href="#data_protection">#</a> </dt>

<dd>
<%= _("Can I request information about myself?.text") %>
</dd>


<dt id="private_requests"><%= _("I'd like to keep my request secret! (At least until I publish my story)") %> <a href="#private_requests">#</a> </dt>

<dd><p>
<%= _("I'd like to keep my request secret!.text") %>
</p>
</dd>


<dt id="multiple"><%= _("Can I make the same to request to lots of authorities, e.g. all councils?") %> <a href="#multiple">#</a> </dt>

<dd>
<%= _("Can I make the same to request to lots of authorities, e.g. all councils?.text") %>
</dd>

<dt id="offsite"><%= _("I made a request off the site, how do I upload it to the archive?") %><a href="#offsite">#</a> </dt>

<dd>
<%= _("I made a request off the site, how do I upload it to the archive.text") %>
</dd>

<dt id="moderation"><%= _("How do you moderate request annotations?") %> <a href="#moderation">#</a> </dt>

<dd> 
<%= _("How do you moderate request annotations?.text") %>
<dd>

</dl>

<p><%= _("<strong>Next</strong>, read about your privacy") %> <a href="/help/privacy">--&gt;</a> 

<div id="hash_link_padding"></div>

</div>
